# Node / Angular
**/node_modules/
**/dist/
**/.angular/

# Java / Maven
**/target/

# Environment / secrets
.env
.env.*
**/application-local.properties

# IDE files
.metadata/
**/.classpath
**/.project
**/.settings/
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp